.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background: var(--foreground-color);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: Montserrat, sans-serif;
  transition: transform var(--animation-duration) ease-in;
  &.hide {
    transform: translate3d(0, calc(-1 * var(--nav-height)), 0);
  }
  nav {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    .logo {
      display: flex;
      align-items: center;
    }
    .nav-links {
      display: flex;
      align-items: center;
      list-style: none;
      .nav-link {
        font-size: 1.2rem;
        font-weight: 500;
        a {
          padding: 0 0.75em;
          display: inline-block;
          line-height: var(--nav-height);
          transition: background-color var(--animation-duration) ease-in;
          color: var(--white);
          &:hover {
            background-color: var(--highlight-color);
          }
        }
      }
    }
  }
  &.hidden {
    transform: translate3d(0, calc(-1 * var(--nav-height)), 0);
  }
  .open {
    display: none;
  }
}

.dark {
  .navigation {
    background: var(--black);
  }
}

@media (max-width: $mobile) {
  .navigation {
    --mobile-nav-element-height: 2.4rem;
    --mobile-nav-padding: 1.5rem;
    nav {
      .nav-links {
        position: fixed;
        text-align: center;
        top: var(--nav-height);
        left: 0;
        width: 100%;
        height: calc(100vh - var(--nav-height));
        background: var(--dark);
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        height: 0px;
        overflow: hidden;
        transition: height var(--animation-duration) ease-in,
          padding var(--animation-duration) ease-in;
        .nav-link {
          font-size: 1.5rem;
          font-weight: 500;
          width: 100%;
          height: calc(
            var(--mobile-nav-element-height) + 2 * var(--mobile-nav-padding)
          );
          a {
            padding: var(--mobile-nav-padding) 0;
            display: block;
            line-height: var(--mobile-nav-element-height);
            transition: background-color var(--animation-duration) ease-in;
            color: var(--white);
            &:hover {
              background-color: var(--highlight-color);
            }
          }
          .toggle-dark {
            margin: 1.6rem auto;
          }
        }
        &.active {
          height: calc(100vh - var(--nav-height));
          padding: 1.5rem 0;
        }
      }
    }
    &.hidden {
      transform: translate3d(0, calc(-1 * var(--nav-height)), 0);
    }
  }
}
