.toggle-dark {
  --toggler-calculated: calc(var(--toggler-height) - 4px);
  margin-left: 1rem;
  width: var(--toggler-width);
  display: block;
  .hidden {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .toggle {
    height: var(--toggler-height);
    width: var(--toggler-width);
    background: var(--black);
    border-radius: calc(var(--toggler-height) / 2);
    padding: 2px 4px;
    position: relative;
    margin: auto;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      height: var(--toggler-calculated);
      width: var(--toggler-calculated);
      border-radius: 50%;
      background: var(--white);
      position: absolute;
      z-index: 2;
      transform: translate3d(0, 0, 0);
      transition: transform var(--animation-duration) ease-in-out;
    }
    &.enabled {
      color: var(--black);
      background-color: var(--background-color);
      &::before {
        transform: translate3d(var(--toggler-calculated), 0, 0);
      }
    }
    input {
      position: absolute;
      top: 0;
      opacity: 0;
    }
  }
  @media (max-width: $mobile) {
    .toggle {
      &.enabled {
        background-color: var(--black);
      }
    }
  }
}
