.toggle-dark {
  width: 40px;
  display: block;
  .hidden {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .toggle {
    height: 24px;
    width: 40px;
    background: var(--black);
    border-radius: 12px;
    padding: 4px;
    position: relative;
    margin: auto;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background: var(--white);
      position: absolute;
      z-index: 2;
      transform: translate3d(0, 0, 0);
      transition: transform 150ms ease-in-out;
    }
    &.enabled {
      color: var(--black);
      background-color: var(--background-color);
      &::before {
        transform: translate3d(16px, 0, 0);
      }
    }
    input {
      position: absolute;
      top: 0;
      opacity: 0;
    }
  }
}
