$mobile: 768px;
$dark: #1e2026;
$light: #f7f7f7;
$highlight: #9f111b;
$black: #000;
$white: #fff;

@mixin light-theme {
  --page-background-color: #{$white};
  --comic-page-background-color: transparent;
  --background-color: #{$light};
  --foreground-color: #{$dark};
  --highlight-color: #{$highlight};
}

@mixin dark-theme {
  --page-background-color: linear-gradient(0deg, #1e2026, #141518);
  --comic-page-background-color: #{$white};
  --background-color: #{$dark};
  --foreground-color: #{$light};
  --highlight-color: #{$highlight};
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Montserrat&display=swap");

:root {
  @include light-theme;
  --black: #{$black};
  --white: #{$white};
  --dark: #{$dark};
  --light: #{$light};
  --page-width: 1024px;
  --default-margin: 1rem;
  --default-padding: 1rem;
  --nav-height: 4rem;
  --toggler-height: 1.2rem;
  --toggler-width: 2.4rem;
  --animation-duration: 75ms;
  --animation-long-duration: 250ms;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    @include dark-theme;
  }
}

@media (max-width: $mobile) {
  :root {
    --page-width: 100%;
  }
}

.dark {
  @include dark-theme;
}

.light {
  @include light-theme;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--page-background-color);
  font-weight: 400;
  letter-spacing: 0.04rem;
  font-family: "IBM Plex Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#mojstrip {
  visibility: hidden;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--foreground-color);
  background: var(--page-background-color);
  &.loaded {
    visibility: visible;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
}

@import "../components/Navigation.scss";
@import "../components/ToggleDark.scss";
@import "../components/Hamburger.scss";
@import "../components/Issue.scss";
@import "../components/Archive.scss";
@import "../components/Footer.scss";
