@mixin light-theme {
  --page-background-color: linear-gradient(0deg, #f7f7f7, #f3f3f3);
  --background-color: #fff;
  --foreground-color: #1e2026;
  --highlight-color: #9F111B
}

@mixin dark-theme {
  --page-background-color: linear-gradient(0deg, #1e2026, #141518);
  --background-color: #1e2026;
  --foreground-color: #fff;
  --highlight-color: #9F111B
}

:root {
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    @include dark-theme;
  }
}

.dark {
  @include dark-theme;
}

.light {
  @include light-theme;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--page-background-color);
}

#mojstrip {
  visibility: hidden;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(var(--foreground-color));
  background: var(--page-background-color);
  &.loaded {
    visibility: visible;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
